# OS metadata
.DS_Store
Thumbs.db

# Environment & local files
.env
*.local
local/

# Temporary & scratch files
tmp/
scratch/

# Node & VitePress
node_modules/
**/.vitepress/dist/
**/.vitepress/cache/
node_modules
